# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

Gilmore Girls

Ted Lasso

Marvelous Mrs. Maisel

Bun Heads 

The Wilds

The Walking Dead

Stranger Things

Seinfeld

Comedians In Cars Getting Coffee

Mad Men

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [16]:
import sqlite3 as sl
import pandas as pd

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [12]:
data = pd.read_csv('tv_shows.csv', index_col=[0])
data.rename(columns={'Rotten Tomatoes' : 'Rotten_Tomatoes', 'Prime Video' : 'Prime_Video', 'Disney+' : 'Disney_Plus'})

data.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [30]:
con = sl.connect('tv.db')

with con:
    con.execute ("""
        DROP TABLE shows;"""
    )
# with con:    
#     con.execute("""
#     CREATE TABLE shows (
#         ID INTEGER PRIMARY KEY AUTOINCREMENT,
#         Title TEXT,
#         Year INTEGER,
#         Age TEXT,
#         IMDB TEXT,
#         Rotten_Tomatoes TEXT,
#         Netflix INTEGER,
#         Hulu INTEGER,
#         Prime_Video INTEGER,
#         Disney_Plus INTEGER,
#         Type INTEGER
#     );
#     """)

With your new table and database set up, print out the top 20 records in the `shows` table.

In [31]:
# import csv 
# cursor = con.cursor()
# file = open('tv_shows.csv')
# contents = csv.reader(file)

# insert_records = "INSERT INTO shows (ID, Title, Year, Age, IMDB, Rotten_Tomatoes, Netflix, Hulu, Prime_Video, Disney_Plus, Type) VALUES(contents)"
# # insert_records = "INSERT INTO shows (Title, Year, Age, IMDB, Rotten_Tomatoes, Netflix, Hulu, Prime_Video, Disney_Plus, Type) VALUES('Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)"
# cursor.executemany(insert_records, [contents])

data.to_sql('shows',con)

5368

In [33]:
with con:
    data_again = con.execute("SELECT * FROM shows WHERE ID <= 20")
    for row in data_again:
        print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [34]:
with con:    
    con.execute("""
    CREATE TABLE watch_list (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Title TEXT
    );
    """)

In [36]:
with con:
    data_again = con.execute("SELECT * FROM watch_list WHERE ID <= 20")
    for row in data_again:
        print(row)

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [37]:
data.describe()

,ID,Year,Netflix,Hulu,Prime Video,Disney+,Type
count,5368.000000,5368.000000,5368.000000,5368.000000,5368.000000,5368.000000,5368.0
mean,2814.945790,2012.628726,0.367176,0.301975,0.341095,0.065387,1.0
std,1672.385727,10.142813,0.482080,0.459157,0.474122,0.247231,0.0
min,1.000000,1904.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1345.750000,2011.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,2788.000000,2016.000000,0.000000,0.000000,0.000000,0.000000,1.0
75%,4308.250000,2018.000000,1.000000,1.000000,1.000000,0.000000,1.0
max,5717.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,1.0

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [46]:
# cursor = con.cursor()
sql_statement = 'INSERT INTO watch_list (ID, title) values(?, ?)'
katy_watch = [
    # (1, 'Walking Dead'),
    # (2, 'Gilmore Girls'),
    (3, 'Ted Lasso'),
    (4, 'Marvelous Mrs. Maisel'),
    (5, 'Bun Heads'),
    (6, 'The Wilds'),
    (7, 'Stranger Things'),
    (8, 'Breaking Bad'),
    (9, 'Comedians In Cars Getting Coffee'),
    (10, 'Mad Men')
]


# insert_records = "INSERT INTO watch_list (ID, Title, Year, Age, IMDB, Rotten_Tomatoes, Netflix, Hulu, Prime_Video, Disney_Plus, Type) VALUES(contents)"
# # insert_records = "INSERT INTO shows (Title, Year, Age, IMDB, Rotten_Tomatoes, Netflix, Hulu, Prime_Video, Disney_Plus, Type) VALUES('Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)"
con.executemany(sql_statement, katy_watch)

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?